VITE_API_URL=ocaminhooficialraiz

# URL do servidor WebSocket / Socket.io (ex: http://localhost:3333 em dev ou em prod)
VITE_SOCKET_URL=oseuservidoraurldele

# Google OAuth 2.0 Client ID (Google Identity Services)
VITE_GOOGLE_CLIENT_ID=consiga o seu
